body{
    background-color: #f6d2ad;
}

.titulo{
    display: inline-flexbox;
}

.racao{
    display: inline-flexbox;
    position: relativa;
    margin-top: -110px;
}

.info{
    display: inline-flexbox;
    margin-left: 600px;
    margin-top: -80px;
}

.in{
    display: inline;
    color: white;
}

.imagens{
    margin-top: 100px;
}