body{
    background-color: #f0a75f;
    top: 0px;
    left: 0px;
    margin: 0;
}

.cabecalho{
    background-color: #b87c40;
    padding-bottom: 15px;
    left: 0px;
}

.titulo{
    display: inline-flex;
    margin-left: 35px;
    font-size: 45px;
}

.racao{
    display: flex;
    position: relative;
    margin-top: -120px;
    margin-left: 40px;
}

.racao:hover{
    transform: scale(1.0);
}

.info{
    display: flex;
    margin-left: 650px;
    margin-top: -115px;
    font-size: 25px;
    color: white;
}

.box{
    display: flex;
    border: 1px solid black; padding: 5px;
    border-radius: 10px;
    border-color: white;
    padding: 15px;
    background-color: #f0a75f;
}

.img1{
    height: 210px;
    display: inline-flex;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 292px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    transition: all 2s ease-in-out;
    overflow: hidden;
    transform: scale(1.1);
}

.img1:hover{
    transform: scale(1.2);
}

.img2{
    display: inline-flex;
    height: 210px;
    width: 290px;
    border-radius: 10px;
    margin-left: 100px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    transition: all 2s ease-in-out;
    overflow: hidden;
    transform: scale(1.1);
}

.img2:hover{
    transform: scale(1.2);
}

.texto{
    display: flex;
    padding-top: 15px;
    margin-left: 180px;
    font-size: 29px;
    text-decoration: none;
    color: white;
}



.box_nos{
   border: 1px solid black; 
    padding: 15px;
    border-radius: 10px;
    border-color: white;
    background-color: #f0a75f;
    margin-top: 10px;
    margin-right: 5 px;
    margin-left: 50px;
    width: 1150px;
    background-color: #b87c40;
}

.nos{
    margin-left: 100px;
    margin-top: 30px;
    font-size: 25px;
    color: white;
}

.texto_nos{
    margin-left: 100px;
    margin-right: 160px;
    font-size: 19px;
    color: white;
    text-align: justify;
}
